@import "partials/menu";

.landingpage {
  font-family: $font-family-condensed;

  &.landing-page {
    overflow-x: hidden;
  }

  h3,
  .h3 {
    color: $primary;
    font-weight: 700;
  }

  .item-page {
    ul {
      padding-left: $spacer;
    }

    li {
      margin-bottom: $spacer;
    }
  }

  .btn-outline-white:hover {
    color: $black !important;
  }

  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  .main-title {
    margin-bottom: $spacer * 7;
    padding-top: $spacer * 3;
    padding-right: $spacer;
    padding-bottom: $spacer * 3;
    paddin-left: $spacer;
    background-color: $green;
    color: $white;
    font-family: $font-family-condensed;
    text-align: center;
    text-transform: uppercase;
  }

  .solutions {
    [class*="col-"] {
      margin-bottom: $grid-gutter-width;

      .card {
        height: 100%;
      }
    }
  }

  .sticky-top {
    top: 5px;
    border: none;

    .card-title {
      color: $white;
      font-weight: 400;
    }

    .card-body {
      border-radius: $card-border-radius;
    }

    img {
      display: block;
      margin: 0 auto;
      margin-top: -($spacer * 10);
      margin-bottom: $spacer * 2;
    }
  }

  .card-overlay {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;

    .card-body {
      visibility: hidden;
      opacity: 0;
      // transition: opacity 0.2s, visibility 0.2s;
    }

    &:hover {
      .card-body {
        visibility: visible;
        opacity: 1;
      }
    }

    h2 {
      margin: 0;
      padding: $card-spacer-x;
    }

    &.bggreen {
      .card-body {
        background: rgba(0, 166, 73, 0.8);
      }

      &:hover {
        h2 {
          background: rgba(0, 166, 73, 0.8);
        }
      }
    }

    &.bgblue {
      .card-body {
        background: rgba(0, 53, 118, 0.8);
      }

      &:hover {
        h2 {
          background: rgba(0, 53, 118, 0.8);
        }
      }
    }

    .card-img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .footer {
    margin-top: $spacer * 2;
    padding: $spacer * 2;
    background-color: $primary;
    text-align: center;

    img {
      height: 75px;
    }
  }
}
